@import '../../../style.css';

.body {
    width: 100%;
}

.row_odd {
    background-color: rgba(0, 2, 65, 0.087);
    text-align: center;
    width: 100%;
}

.row_even {
    background-color: white;
    text-align: center;
    width: 100%;
}

.data {
    border-right: 1px solid var(--THIN_BORDER);
    overflow-wrap: break-word;
    font-size: smaller;
    padding: 1%;
}

.row_odd > .data {
    border-right: 1px solid white;
}

.data:nth-child(1) {
    width: 5%;
}

.data:nth-child(2) {
    width: 8%;
}

.data:nth-child(3) {
    width: 10%;
}

.data:nth-child(4) {
    width: 15%;
}

.data:nth-child(5) {
    width: 35%;
}

.data:nth-child(6) {
    width: 10%;
}

.data:nth-child(7) {
    width: 17%;
}

.data_empresa_odd {
    border-top: 1px solid white;
}

.data_empresa_even {
    border-top: 1px solid var(--THIN_BORDER);
}
