:root {
    --PRIMARY_COLOR: #002c52;
    --SECONDARY_COLOR: #002c5233;
    --THIN_BORDER: rgb(202, 202, 202);
    --WHITE: #ffffff;
    --RED: #9e2727;
    --GREEN: #499a26;
    --YELLOW: #e4df1c;
}
