@import '../body.module.css';

.container {
    margin-top: 2%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    color: white;
    font-weight: bold;
    background-color: rgb(34, 34, 34);
    padding-left: 2%;
    width: 100%;
}

.line {
    display: flex;
    align-items: center;
    width: 98%;
    margin-top: 1%;
}

.line > .field {
    display: flex;
    align-items: center;
    width: 33%;
}

.info {
    font-weight: bold;
    padding: 1%;
}
