@import '../../../../../style.css';

.wrapper {
    height: 95%;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}

.container {
    max-height: 90%;
    width: 98%;
    overflow-y: auto;
    overflow-x: auto;
}

.numsolicitacao {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.frota {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    border: 1px solid black;
}

.quantidade {
    text-align: right;
    width: 100%;
    font-weight: bold;
}

.zeroquantidade {
    text-align: center;
    font-weight: bold;
}

.bottom {
    height: 10%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button_container {
    margin-left: 5%;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
